@{
    ViewBag.Title = "Index";
}

@*<h1>Thông tin sinh viên </h1>
<form action="/UseModel/UseModel2" method="post">
    MSSV :<input type="text" id="fname" name="Mssv"><br><br>
    Tên : <input type="text" id="fname" name="Ten"><br><br>
    Điểm : <input type="text" id="fname" name="Diem"><br><br>
    <input type="submit" value="Đăng kí">
    <input type="submit" value="Quay lại">

</form>*@


<form action="/UseModel/UseModel2" method="post">
    <fieldset>
        <legend>Thông tin sinh viên :</legend>
        <label for="fname">Mã số sinh viên : </label>
        <input type="text" id="fname" name="Mssv"><br>
        <label for="lname">Tên sinh viên : </label>
        <input type="text" id="fname" name="Ten"><br>
        <label for="lname">Điểm trung bình : </label><br>
        <input type="text" id="fname" name="Diem"><br><br>
        <input type="submit" value="Đăng kí">
        <input type="submit" value="Quay lại">
    </fieldset>
</form>
