@{
    ViewBag.Title = "Index";
}

<h1>Thông tin sinh viên </h1>
<form action="/Request/UseRequest2" method="post">
    MSSV :<input type="text" id="fname" name="Mssv"><br><br>
    Tên : <input type="text" id="fname" name="Ten"><br><br>
    Điểm : <input type="text" id="fname" name="Diem"><br><br>
    <input type="submit" value="Đăng kí">
    <input type="submit" value="Quay lại">

</form>